/* Reset */
* {
     box-sizing: border-box;
     padding: 0;
     margin: 0;
}
/* global settings */
:root {
     --main-tarnsition: 1s;
}
ul {
     list-style-type: none;
     padding: 0;
}

a {
     text-decoration: none;
}

body {
     font-family: " Open Sans" , sans-serif;
     scroll-behavior: smooth;
}


.container {
     padding-left: 15px;
     padding-right: 15px;
     margin-left: auto;
     margin-right: auto;
}

/* Start Dashboard Page */
.main-container {
     display: flex;
     width: 100%;
     height: 100vh
}

.main-container .col1-sidebar  {
     flex-basis: 12%;
     width: 100%;

}

.main-container .col1-sidebar .sidebar-heading {
     position: relative;
     margin: auto;
     margin-top: 30px;
     margin-bottom: 30px;
     padding-bottom: 20px;
     padding-left: 10px;
     padding-right: 10px;
     border-bottom: 1px solid black;
     width: fit-content;

}

.main-container .col1-sidebar .sidebar-heading:after {
     content: "";
     position: absolute;
     left: 50%;
     bottom: -13px;
     width: 15px;
     height: 15px;
     border-radius: 50%;
     background-color: black;
     border: solid 5px white;
     transform: translateX(-50%);
}

.main-container .col2-sidebar-content {
     flex-basis: 88%;
}

.main-container .col2-sidebar-content .header {
     max-height:60px;
     padding-top: 10px;
     padding-bottom: 10px;
}
.main-container .col2-sidebar-content .col2-body {
     background-color: #f1f5f9;
}
.main-container .col2-sidebar-content .col2-body h3 {
     padding-top: 20px;
     margin-bottom: 40px;
     font-size: 30px;
     letter-spacing: 2px;
     position: relative;
}

 .main-container .col2-sidebar-content .col2-body h3:after {
     content: "";
     position: absolute;
     width: 120px;
     height: 3px;
     background-color: white ;
     left: 0;
     bottom: -10px;
     
} 
.main-container .col2-sidebar-content .col2-body h3:before {
     content: "";
     position: absolute;
     width: 40px;
     height: 3px;
     left: 0;
     bottom: -10px;
     background-color: black;
     z-index: 100;
}

.main-container .col2-sidebar-content .col2-body .container .cards {
     display: grid;
     grid-template-columns: repeat(auto-fill , minmax(450px , 1fr));
     gap: 20px;
     
     
}
.bg-cards {
     background-color: white;
     border-radius: 10px;
}

.col2-sidebar-content .header .container {
     display: flex;
     justify-content: space-between;
     align-items: center;}

.col2-sidebar-content .header .container .search-field{
     position: relative;
}

.col2-sidebar-content .header .container .search-field:after{
     content: '\f002';
     font-family: FontAwesome;
     font-weight: 900;
     left: 10px;
     top: 10px;
     margin-right:5px;   
     position: absolute;  
     color: #eee;

}

.col2-sidebar-content .header .container .search-field input{
     padding-top: 10px;
     padding-left: 33px;
     padding-bottom: 10px ;
     border: 2px solid #ddd;
     outline: none;
     border-radius: 10px;
     position: relative;
     width: 166px;
     transition: var(--main-tarnsition);
}

.col2-sidebar-content .header .container .search-field input:focus::placeholder {
     opacity: 0;
}

.col2-sidebar-content .header .container .search-field input:focus {
     width: 200px;
}

.col2-sidebar-content .header .container .header-img {
     display: flex;
     align-items: center;
}

.main-container .col1-sidebar .container .list-sidebar li {
     padding: 10px;
     margin-bottom: 3px;     
}

.col2-sidebar-content .header .container .header-img img {
     width: 30px;
     height: 30px;
     margin-left: 15px;
}

.col2-sidebar-content .header .container .header-img i {
     position: relative;
}

.col2-sidebar-content .header .container .header-img i:after {
     content: "";
     position: absolute;
     width: 10px;
     height: 10px;
     top: -16px;
     right:-6px;
     background-color: red;
     border-radius: 50%;
}

.main-container .col1-sidebar .container .list-sidebar li:first-child{
     background-color: #eee;
     border-radius: 5px;
}

.main-container .col1-sidebar .container .list-sidebar li:hover {
     background-color: #eee;
     border-radius: 5px;
     transition: var(--main-tarnsition);

}

.main-container .col1-sidebar .container .list-sidebar li a {
     color: black;
     font-size: 18px;
     font-weight: 500;
     padding-left: 5px;
}

.col2-sidebar-content .col2-body .container .cards .welcome-card .header-welcome {
     background-color: #eee;
     display: flex;
     justify-content: space-between;
     padding-left: 15px;
     padding-right: 15px;
     padding-bottom: 10px;
     padding-top: 20px;
     position: relative;
     border-radius: 6px;
}  
.col2-sidebar-content .col2-body .container .cards .welcome-card .header-welcome .title-card h4 {
     font-size: 25px;
     margin-bottom: 10px;
}

.col2-sidebar-content .col2-body .container .cards .welcome-card .header-welcome img {
     width: 200px;
     height: 120px;
}

.col2-sidebar-content .col2-body .container .cards .welcome-card .header-welcome img.avatar {
     width: 64px;
     height: 64px;
     position: absolute;
     bottom: -32px;
     left: 20px;
     border-radius: 50%;
     border: solid 2px white;
     padding: 2px;
}

.col2-sidebar-content .col2-body .container .cards .welcome-card .body-welcome {
     padding-top: 60px;
     padding-bottom: 80px;
}

.col2-sidebar-content .col2-body .container .cards .welcome-card .body-welcome .table-skills {
     display: flex;
     justify-content: space-around;
     align-items: center;
     text-align: center;
     border-top: solid #eee 1px;
     border-bottom: solid #eee 1px;
     padding: 20px 0px;
}
.col2-sidebar-content .col2-body .container .cards .welcome-card .body-welcome .table-skills p{
     font-size: 18px;
}

.col2-sidebar-content .col2-body .container .cards .welcome-card .body-welcome .table-skills p span {
     display: block;
     margin-top: 15px;
     font-size: 15px;
     color: #888;
}.col2-sidebar-content .col2-body .container .cards .welcome-card .body-welcome button {
     padding: 4px 10px ;
     background-color: #0075ff;
     margin: 15px 15px 15px auto;
     color: white;
     font-size: 15px;
     border-radius: 6px;
     display: block;
     border: none;
     transition: var(--main-tarnsition);  
}

.col2-sidebar-content .col2-body .container .cards .welcome-card .body-welcome button:hover {
     background-color: #0d69d5;
}

.col2-sidebar-content .col2-body .container .cards .quick-draft-card .container h4 {
     margin-top: 20px;
     font-size: 25px;
     margin-bottom: 10px;
}

.col2-sidebar-content .col2-body .container .cards .quick-draft-card .container span {
     color: #888;
}

.col2-sidebar-content .col2-body .container .cards .quick-draft-card .container input {
     display: block;
     width: 100%;
     margin-top: 20px;
     margin-bottom: 20px;
     padding: 8px;
     border-radius: 6px;
     background-color: #eee;
     outline: none;
     border: none;
}


.col2-sidebar-content .col2-body .container .cards .quick-draft-card .container textarea {
     display: block;
     width: 100%;
     background-color: #eee;
     border-radius: 6px;
     outline: none;
     border: none;
     resize: none;
     padding: 10px;
}

.col2-sidebar-content .col2-body .container .cards .quick-draft-card .container a {
     background-color: #0075ff;
     color: white;
     padding: 4px 10px;
     margin: 10px 10px 10px auto;
     display: block;
     width: fit-content;
     border-radius: 6px;
     margin-top: 20px;
}

.col2-sidebar-content .col2-body .container .cards .yearly-targets-card h4 {
     margin-top: 20px;
     font-size: 25px;
     margin-bottom: 10px;
}

.col2-sidebar-content .col2-body .container .cards .yearly-targets-card .container > span {
     color: #888;
}

.col2-sidebar-content .col2-body .container .cards .yearly-targets-card .container .money {
     margin-top: 15px;
     display: flex;
     align-items: center;
     gap: 10px;
}

.col2-sidebar-content .col2-body .container .cards .yearly-targets-card .container .money .money-icon {
     background-color:rgb(0 117 255 / 20%);
     width: 85px;
     height: 85px;
     display: flex;
     justify-content: center;
     align-items: center; 
}

.col2-sidebar-content .col2-body .container .cards .yearly-targets-card .container .money .money-info {
     padding-top: 15px;
     flex: 1;

}

.col2-sidebar-content .col2-body .container .cards .yearly-targets-card .container .money .money-info span {
     display: block;
     margin-bottom: 15px;

}

.col2-sidebar-content .col2-body .container .cards .yearly-targets-card .container .money .money-info span:nth-child(1) {
     color: #888;
}

.col2-sidebar-content .col2-body .container .cards .yearly-targets-card .container .money .money-info span:nth-child(2) {
     font-weight: bold;
}

.col2-sidebar-content .col2-body .container .cards .yearly-targets-card .container .money .money-info .rate-money {
     width: 100%;
     height: 2px;
     background-color: rgb(0 117 255 / 20%);
     position:relative;
}

.col2-sidebar-content .col2-body .container .cards .yearly-targets-card .container .money .money-info .rate-money:after {
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     width: 80%;
     height: 2px;
     background-color: blue;
     
}
.col2-sidebar-content .col2-body .container .cards .yearly-targets-card .container .money .money-info .rate-money:before {
     content: "";
     position: absolute;
     top: -12px;
     left: 80%;
     border-width: 10px;
     border-color: blue transparent transparent transparent;
     border-style: solid;
     transform: translateX(-50%);
}

.col2-sidebar-content .col2-body .container .cards .yearly-targets-card .container .money .money-info .rate-money span {
     background-color: blue;
     padding: 2px;
     width: fit-content;
     color: white;
     border-radius: 6px;
     position: absolute;
     top: -30px;
     left: 80%;
     transform: translateX(-50%)


}


.col2-sidebar-content .col2-body .container .cards .yearly-targets-card .container .projects {
     margin-top: 10px;
     display: flex;
     align-items: center;
     gap: 10px;   
}

.col2-sidebar-content .col2-body .container .cards .yearly-targets-card .container .projects .projects-icon {
     background-color: rgb(245 158 11 / 20%);
     width: 85px;
     height: 85px;
     display: flex;
     justify-content: center;
     align-items: center; 
}

.col2-sidebar-content .col2-body .container .cards .yearly-targets-card .container .projects .projects-info {
     padding-top: 15px;
     flex: 1;
}

.col2-sidebar-content .col2-body .container .cards .yearly-targets-card .container .projects .projects-info span {
     display: block;
     margin-bottom: 15px;
}

.col2-sidebar-content .col2-body .container .cards .yearly-targets-card .container .projects .projects-info span:nth-child(1) {
     color: #888;
}

.col2-sidebar-content .col2-body .container .cards .yearly-targets-card .container .projects .projects-info span:nth-child(2) {
     font-weight: bold;
}


.col2-sidebar-content .col2-body .container .cards .yearly-targets-card .container .projects .projects-info .rate-projects {
     width: 100%;
     height: 2px;
     background-color: rgb(245 158 11 / 20%);
     position: relative;
}

.col2-sidebar-content .col2-body .container .cards .yearly-targets-card .container .projects .projects-info .rate-projects:after {
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     width: 55%;
     height: 2px;
     background-color: orange;
     
}
.col2-sidebar-content .col2-body .container .cards .yearly-targets-card .container .projects .projects-info .rate-projects:before {
     content: "";
     position: absolute;
     top: -12px;
     left: 55%;
     border-width: 10px;
     border-color: orange transparent transparent transparent;
     border-style: solid;
     transform: translateX(-50%);
}

.col2-sidebar-content .col2-body .container .cards .yearly-targets-card .container .projects .projects-info .rate-projects span {
     background-color: orange;
     padding: 2px;
     width: fit-content;
     color: white;
     border-radius: 6px;
     position: absolute;
     top: -30px;
     left: 55%;
     transform: translateX(-50%)


}

.col2-sidebar-content .col2-body .container .cards .yearly-targets-card .container .team {
     margin-top: 10px;
     display: flex;
     align-items: center;
     gap: 10px;   
}

.col2-sidebar-content .col2-body .container .cards .yearly-targets-card .container .team .team-icon {
     background-color: rgb(34 197 94 / 20%);
     width: 85px;
     height: 85px;
     display: flex;
     justify-content: center;
     align-items: center; 
}

.col2-sidebar-content .col2-body .container .cards .yearly-targets-card .container .team .team-info {
     padding-top: 15px;
     flex: 1;
}

.col2-sidebar-content .col2-body .container .cards .yearly-targets-card .container .team .team-info span {
     display: block;
     margin-bottom: 15px;
}

.col2-sidebar-content .col2-body .container .cards .yearly-targets-card .container .team .team-info span:nth-child(1) {
     color: #888;
}

.col2-sidebar-content .col2-body .container .cards .yearly-targets-card .container .team .team-info span:nth-child(2) {
     font-weight: bold;
}

.col2-sidebar-content .col2-body .container .cards .yearly-targets-card .container .team .team-info .rate-team{
     width: 100%;
     height: 2px;
     background-color:rgb(34 197 94 / 20%);
     position: relative;
}

.col2-sidebar-content .col2-body .container .cards .yearly-targets-card .container .team .team-info .rate-team:after {
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     width: 75%;
     height: 2px;
     background-color: green;
     
}
.col2-sidebar-content .col2-body .container .cards .yearly-targets-card .container .team .team-info .rate-team:before {
     content: "";
     position: absolute;
     top: -12px;
     left: 75%;
     border-width: 10px;
     border-color: green transparent transparent transparent;
     border-style: solid;
     transform: translateX(-50%);
}

.col2-sidebar-content .col2-body .container .cards .yearly-targets-card .container .team .team-info .rate-team span {
     background-color: green;
     padding: 2px;
     width: fit-content;
     color: white;
     border-radius: 6px;
     position: absolute;
     top: -30px;
     left: 75%;
     transform: translateX(-50%)


}

.tickets-sta .container h4 {
     margin-top: 20px;
     font-size: 25px;
     margin-bottom: 10px;

}

.tickets-sta .container span {
     color: #888;
}

.tickets-sta .container .box-container {
     margin-top: 20px;
     margin-bottom:60px;
     display: grid;
     grid-template-columns: repeat(auto-fill , minmax(200px , 1fr));
     gap: 20px;
}

.tickets-sta .container .box-container .sub-box {
     border: 1px solid #ccc;
     border-radius: 6px;
     text-align: center;
     padding: 20px 0px;
}

.tickets-sta .container .box-container .sub-box p {
     font-size: 25px;
     font-weight: bold;
     margin-bottom: 10px;
}


.latest-news .container {
     padding-top: 20px;
     padding-bottom: 20px;
}

.latest-news .container h4 {
     font-size: 25px;
     margin-bottom: 20px;
}

.latest-news .container .box-news {
     display: flex;
     justify-content: space-between;
     align-items: center;    
}

.latest-news .container .box-news:not(:last-child) {
     margin-bottom: 20px;
     padding-bottom: 20px;
     border-bottom: #eee solid 1px;
}

.latest-news .container .box-news > span {
     background-color: #eee;
     padding: 4px 10px;
     border-radius: 6px;
     font-size: 13px;
}



.latest-news .container .box-news .left-box {
     display: flex;
     align-items: center;
     gap: 10px;

}


.latest-news .container .box-news .left-box img {
     width: 100px ;
     height: 60px;
     border-radius: 6px; 
}

.latest-news .container .box-news .img-info p {
     font-weight: bold;
     margin-bottom: 10px;
}


.latest-news .container .box-news .img-info span {
     color: #888;
}

.latest-tasks .container {
     padding-top: 20px;    
}

.latest-tasks .container h4 {
     font-size: 25px;
}

.latest-tasks .container .task {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding-top: 20px;
     padding-bottom: 20px;
}

.latest-tasks .container .task:not(:last-child) {
     border-bottom: 1px solid #eee;
}

.latest-tasks .container .task .task-info p {
     font-weight: bold;
     margin-bottom: 10px;
}
.latest-tasks .container .task .task-info.disable p ,
.latest-tasks .container .task .task-info.disable span {
     text-decoration:line-through;
     color: #ccc;
}

.latest-tasks .container .task:nth-child(5) i {
     color: #ccc;
}

.latest-tasks .container .task i:hover {
     color: red;
     transition: 0.5s;
}

     
.latest-tasks .container .task .task-info span {
     color: #ccc;
}

.title-card {
     font-size: 25px;
     margin-bottom: 20px;
}

.top-search-items .container {
     padding-top: 20px;
}


.top-search-items .container ul li {
     display: flex;
     justify-content: space-between;
     font-size: 18px;
}
.top-search-items .container ul li:not(:first-child) {
     padding: 20px 0px;
}

.top-search-items .container ul li:first-child {
     color: #888;
     font-weight: normal;
     font-size: 18px;
}

.top-search-items .container ul li:not(:first-child) span {
     background-color: #eee;
     padding: 4px 10px; 
     border-radius: 6px;
     font-size: 15px;
     font-weight: normal;
}

.latest-uploads .container {
     padding-top: 20px;
}

.latest-uploads .container .uploads-item {
     display: flex;
     justify-content: space-between;
     align-items: center;
}


.latest-uploads .container .uploads-item:not(:last-child){
     border-bottom: 1px solid #ccc;
} 


.latest-uploads .container .uploads-item .item-info {
     display: flex;
     gap: 10px;
     padding: 10px 0px;

}
.latest-uploads .container .uploads-item .item-info img {
     width: 50px;
     height: 50px;
}


.latest-uploads .container .uploads-item .item-info .image-info p {
     font-size: 18px;
     margin-bottom: 5px;

}

.latest-uploads .container .uploads-item .item-info .image-info span {
     color: #ccc;
}

.latest-uploads .container .uploads-item .item-size {
     padding: 4px 10px;
     background-color: #eee;
     border-radius: 6px;
     
}

.last-projects-progress .container {
     padding-top: 20px;
}


.last-projects-progress .container .stepes-project  {
     border-left: solid 3px blue;
     padding-left: 20px;  
}

.last-projects-progress .container .stepes-project li:not(:last-child) {
     padding-bottom: 20px;
     position: relative;
}

.last-projects-progress .container .stepes-project li:after {
     content: "";
     position: absolute;
     width: 20px;
     height: 20px;
     top: 50%;
     left: 50%;
     border-radius: 50%;
     background-color: blue;
     transform: translate(-50%, -50%);

}

.last-projects-progress .container .stepes-project li:before {
     content: "";
     position: absolute;
     width: 25px;
     height: 25px;
     top: -4px;
     left: -34px;
     border-radius: 50%;
     background-color: white;
     border: solid 2px blue;
}











